<div class="container">
  <div class="card bg-default">
    <div class="card-header">Pesquisar Sistema</div>

    <form [formGroup]="rForm" (ngSubmit)="search()">
      <div class="card-body">
        <fieldset class="">
          <legend>Filtro de Consulta</legend>
          <div class="form-group row">
            <label for="descricao" class="col-sm-6 control-label">Descrição</label>
            <div class="col-sm-6">
              <input type="text" id="descricao" formControlName="descricao" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <label for="sigla" class="col-sm-6 control-label">Sigla</label>
            <div class="col-sm-6">
              <input type="text" id="sigla" formControlName="sigla" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-6 control-label">E-mail de atendimento do sistema</label>
            <div class="col-sm-6">
              <input type="text" id="email" formControlName="email" class="form-control" />
            </div>
            <div id="error" *ngIf="!rForm.controls['email'].valid">
              * Email inválido
            </div>
          </div>
        </fieldset>
        <div id="resultado" *ngIf="isSearch">
            <fieldset class="form-group">
                <legend>Resultado de Consulta</legend>

                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Descrição</th>
                    <th>SIGLA</th>
                    <th>E-mail de atendimento</th>
                    <th>URL</th>
                    <th>Status</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let sis of sistemas | paginate: { itemsPerPage: 5, currentPage: p }" >
                  <!-- <tr *ngFor="let sis of sistemas | paginate: config" > -->
                    <td>{{sis.descricao}}</td>
                    <td>{{sis.sigla}}</td>
                    <td>{{sis.email}}</td>
                    <td>{{sis.url}}</td>
                    <td>{{getStatus(sis.status)}}</td>
                    <td><button class="btn" type="button"><i class="fa fa-edit"></i></button></td>
                  </tr>
                  <tr>
                    <td colspan="6" class="paginate">
                      <pagination-controls  *ngIf="sistemas.length > 50" previousLabel=""
                        nextLabel="" (pageChange)="p = $event" maxSize="10"
                        directionLinks="true">
                      </pagination-controls>
                      <!-- <pagination-template #p="paginationApi"
                      [id]="config.id"
                      (pageChange)="config.currentPage = $event">

                      <div class="custom-pagination">
                        <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                            <a *ngIf="!p.isFirstPage()" (click)="p.previous()"> < </a>
                        </div>
                        <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                            <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                                <span>{{ page.label }}</span>
                            </a>
                            <div *ngIf="p.getCurrent() === page.value">
                                <span>{{ page.label }}</span>
                            </div>
                        </div>
                        <div class="pagination-next" [class.disabled]="p.isLastPage()">
                            <a *ngIf="!p.isLastPage()" (click)="p.next()"> > </a>
                            <a *ngIf="!p.isLastPage()" (click)="p.getLastPage()"> >> </a>
                        </div>
                    </div>
                    
                </pagination-template> -->
                    </td>
                  </tr>
                </tbody>
                </table>
              </fieldset>
        </div>
        <div id="noResult" *ngIf="isShowFail">
            {{messageShow}}
        </div>
      </div>
      <div class="card-footer">
        <div class="text-right">
          <button class="btn" type="submit" [disabled]="!rForm.valid">Pesquisar <i class="fa fa-search"></i></button>
          <button class="btn" type="button" (click)="clear()">Limpar <i class="fa fa-minus-circle"></i></button>
          <button class="btn" type="button" [routerLink]="['/sistema/create/']">Novo Sistema <i class="fa fa-file"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>
