button{
    font-size: 14px;
    color: green;
    font-weight: bold;
    margin-right: 15px;
}

.card-header{
    font-weight: bold;
    font-size: 14px;
    color:grey;
}

#error{
  font-weight: bold;
  font-size: 11px;
  color: red;
  padding-left: 30px;
}

fieldset{
    border: 1px solid;
}
legend{
    font-size: 13px;
    color: green;
    padding-left: 5px; 
}
