button{
    font-size: 14px;
    color: green;
    font-weight: bold;
    margin-right: 15px;
}

.card-header span{
    padding-left: 75%;
    color: red;
    font-size: 12px;
}

.control-label span{
    color: red;
}

#error{
  font-weight: bold;
  font-size: 11px;
  color: red;
  padding-left: 30px;
}

/* div .bg-success .card-header{
  font-weight: bold;
  color: white;
} */
